@charset "utf-8";
.owl-item {
	float: left;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.confirm {
	padding-top: 10px;
	border-top: 1px solid #d2d1d1;
	margin-top: 25px;
	padding-left: 130px;
}
.confirm span {
	font-size: 13px;
	padding-left: 10px;
}

/* progress-wrap */
.progress-wrap .progress-bar {
	background: #f0f0f0;
	padding: 27px 100px 27px 24px;
	position: relative;
}
.progress-wrap .progress-bar .bar {
	overflow: hidden;
	background: #fff;
	border: 1px solid #afafaf;
	border-radius: 5px;
	height: 40px;
	position: relative;
	border-top-color: #dedede;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.progress-wrap .progress-bar .bar span {
	position: Absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #2d8dcd),
		color-stop(1, #c4f6fe)
	);
	background: -moz-linear-gradient(
		top,
		#2d8dcd 0%,
		#c4f6fe 100%
	);
	background: -webkit-linear-gradient(
		top,
		#2d8dcd 0%,
		#c4f6fe 100%
	);
	background: -o-linear-gradient(
		top,
		#2d8dcd 0%,
		#c4f6fe 100%
	);
	background: -ms-linear-gradient(
		top,
		#2d8dcd 0%,
		#c4f6fe 100%
	);
	background: linear-gradient(
		top,
		#2d8dcd 0%,
		#c4f6fe 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d8dcd', endColorstr='#c4f6fe', gradientType=0);
}
.progress-wrap .progress-bar .txt {
	color: #d9272b;
	position: absolute;
	font-weight: 700;
	right: 24px;
	top: 27px;
	height: 40px;
	line-height: 40px;
	font-size: 21px;
}
.progress-wrap .progress-bar .txt span {
	letter-spacing: -0.06em;
	font-size: 32px;
}

.progress-wrap .progress-info {
	overflow: hidden;
	margin-top: 15px;
	padding: 0 7%;
}
.progress-wrap .progress-info .fl,
.progress-wrap .progress-info .fr {
	position: relative;
	box-sizing: border-box;
	background: #faf5f5;
	font-weight: 600;
	line-height: 70px;
	padding-left: 142px;
	width: 46%;
	display: block;
	font-size: 30px;
	letter-spacing: -0.03em;
	text-align: center;
	color: #d9272b;
	border: 1px solid #888;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.progress-wrap .progress-info .fl span,
.progress-wrap .progress-info .fr span {
	position: absolute;
	left: 0;
	top: 0;
	width: 142px;
	height: 71px;
	box-sizing: border-box;
	border-bottom: 1px solid #173312;
	color: #fff;
	font-weight: 600;
	font-size: 26px;
	text-align: center;
	background: #26611d;
	box-shadow: 2px 5px 2px rgba(255, 255, 255, 0.4) inset;
	-webkit-box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4)
		inset;
	-moz-box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4)
		inset;
}

/* class-about */
.class-about {
	padding: 27px 23px;
	box-sizing: border-box;
	height: 220px;
	background: #f0f0f0;
	position: relative;
}
.class-about:after {
	width: 271px;
	height: 159px;
	position: absolute;
	right: 0;
	bottom: -22px;
	background: url(../_Img/Sub/mileageclass-img01.png)
		no-repeat right center;
	display: block;
	content: '';
}
.class-about p {
	color: #333;
	font-weight: 600;
	line-height: 150%;
	font-size: 16px;
	letter-spacing: -0.04em;
}

.btn-ab {
	position: Relative;
}
.btn-ab .guide-btn {
	position: absolute;
	right: 0;
	top: -42px;
	border: 1px solid #939393;
	background: #b0b0b0;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	width: 172px;
	height: 33px;
	line-height: 33px;
	text-align: center;
}
.btn-ab .info-ex02 {
	position: Absolute;
	right: 0;
	top: -42px;
	line-height: 33px;
}
.btn-ab .default-btn {
	position: absolute;
	right: 0;
	top: -42px;
	border: 1px solid #939393;
	background: #b0b0b0;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	width: 172px;
	height: 33px;
	line-height: 33px;
	text-align: center;
}

.btn-wrap {
	position: relative;
}
.btn-wrap .info-ex01 {
	position: Absolute;
	left: 0;
	top: 0;
	display: block;
	line-height: 37px;
}

.class-regist {
	display: inline-block;
	border: 1px solid #e83f2e;
	border-radius: 5px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	font-weight: 600;
	text-align: Center;
	min-width: 132px;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #fa9085),
		color-stop(0.28, #e83f2e)
	);
	background: -moz-linear-gradient(
		top,
		#fa9085 0%,
		#e83f2e 28%
	);
	background: -webkit-linear-gradient(
		top,
		#fa9085 0%,
		#e83f2e 28%
	);
	background: -o-linear-gradient(
		top,
		#fa9085 0%,
		#e83f2e 28%
	);
	background: -ms-linear-gradient(
		top,
		#fa9085 0%,
		#e83f2e 28%
	);
	background: linear-gradient(top, #fa9085 0%, #e83f2e 28%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa9085', endColorstr='#e83f2e', gradientType=0);
}

.class-regist2 {
	display: inline-block;
	border: 1px solid #488422;
	border-radius: 5px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	font-weight: 600;
	color: #fff;
	text-align: Center;
	min-width: 132px;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #91d666),
		color-stop(0.28, #488422)
	);
	background: -moz-linear-gradient(
		top,
		#91d666 0%,
		#488422 28%
	);
	background: -webkit-linear-gradient(
		top,
		#91d666 0%,
		#488422 28%
	);
	background: -o-linear-gradient(
		top,
		#91d666 0%,
		#488422 28%
	);
	background: -ms-linear-gradient(
		top,
		#91d666 0%,
		#488422 28%
	);
	background: linear-gradient(top, #91d666 0%, #488422 28%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91d666', endColorstr='#488422', gradientType=0);
}

.class-enter {
	display: inline-block;
	border-radius: 3px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	font-weight: 600;
	text-align: Center;
	min-width: 132px;
	background-color: #e83f2e;
}
.class-enter:hover {
	background-color: #950e01;
}
.class-end {
	display: inline-block;
	border-radius: 3px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	font-weight: 600;
	text-align: Center;
	min-width: 132px;
	background-color: #505050;
}
.class-end:hover {
	background-color: #000;
}
.day-end {
	display: inline-block;
	border-radius: 3px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	font-weight: 600;
	text-align: Center;
	min-width: 200px;
	background-color: #505050;
}
.day-end:hover {
	background-color: #000;
}

/* manage-wrap */
.tab_menu {
	padding-bottom: 42px;
}
.tab_menu ul li {
	border: 1px solid #d2d1d1;
	width: 33%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	float: left;
}
.tab_menu ul li a {
	display: block;
	background: #fff;
	color: #555;
	padding: 8px;
}
.tab_menu ul li a:hover {
	background: #f36523;
	color: #fff;
}
.tab_menu ul li.on a {
	display: block;
	background: #f36523;
	color: #fff;
}
.tab_menu ul li.on a:hover {
	background: #f36523;
	color: #fff;
}
.tab_menu p.info_v {
	font-size: 16px;
	height: 165px;
	background: url(../_Img/Sub/mileageedu_info.jpg) no-repeat;
	padding: 40px 0 0 30px;
	margin-top: 30px;
}
.tab_menu p.info_v2 {
	width: 96%;
	font-size: 16px;
	height: 70px;
	padding: 50px 0 0 30px;
	background-color: #dbe4ed;
	margin-bottom: 30px;
}
.tab_menu p.info_v3 {
	width: 96%;
	font-size: 16px;
	height: 70px;
	padding: 50px 0 0 30px;
	background-color: #dbead0;
	margin-bottom: 30px;
}
.tab_menu p.info_v4 {
	width: 96%;
	font-size: 16px;
	height: 70px;
	padding: 50px 0 0 30px;
	background-color: #e4e0f0;
	margin-bottom: 30px;
}

.tab_menu2 {
	padding-bottom: 42px;
}
.tab_menu2 ul li {
	border: 1px solid #d2d1d1;
	width: 19.7%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	float: left;
}
.tab_menu2 ul li a {
	display: block;
	background: #fff;
	color: #555;
	padding: 8px;
}
.tab_menu2 ul li a:hover {
	background: #f36523;
	color: #fff;
}
.tab_menu2 ul li.on a {
	display: block;
	background: #f36523;
	color: #fff;
}
.tab_menu2 ul li.on a:hover {
	background: #f36523;
	color: #fff;
}

.txt_title {
	height: 21px;
	background: url(../_Img/Sub/blt-01.gif) no-repeat left
		bottom;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	padding-left: 25px;
	margin-bottom: 20px;
}
.txt_title2 {
	height: 21px;
	background: url(../_Img/Sub/blt-01.gif) no-repeat left
		bottom;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	padding-left: 25px;
	margin-bottom: 20px;
	margin-top: 40px;
}
.txt_title3 {
	height: 21px;
	background: url(../_Img/Sub/blt-01.gif) no-repeat left
		bottom;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 40px;
}

.manage ul li {
	float: left;
	width: 353px;
	height: 70px;
	border: 1px solid #e1e1e1;
	background: #f7f7f7;
	padding: 18px;
	margin-bottom: 6px;
	margin-right: 6px;
}
.manage2 {
	border-top: 2px solid #555555;
	border-bottom: 1px solid #e1e1e1;
	background: #f7f7f7;
	padding: 30px 50px 0px 50px;
}
.manage2 ul li {
	margin-bottom: 40px;
}
.manage3 {
	border-top: 2px solid #555555;
	border-bottom: 1px solid #e1e1e1;
	background: #f7f7f7;
	padding: 30px 10px 0px 20px;
}
.manage3 ul li {
	margin-bottom: 30px;
}

.ethics {
	background: url(../_Img/Sub/manage/02_01.gif) no-repeat;
	height: 655px;
}
.ethics ul li {
	padding: 12px 0 0 68px;
}
.ethics ul li.num2 {
	padding-top: 50px;
}
.ethics ul li.num3 {
	padding-top: 50px;
}
.ethics ul li.num4 {
	padding-top: 40px;
}
.ethics ul li.num5 {
	padding-top: 36px;
}
.ethics ul li.num6 {
	padding-top: 38px;
}
.ethics ul li.num7 {
	padding-top: 38px;
}
.ethics ul li.num8 {
	padding-top: 38px;
}

.ethics2 ul.line_bg {
	border-left: 2px solid #d7d7d7;
	border-right: 2px solid #d7d7d7;
}
.ethics2 ul.line_bg li {
	padding-left: 30px;
}

.ethics3 {
	background: url(../_Img/Sub/manage/02_10.jpg) no-repeat;
	height: 885px;
}
.ethics3 ul.con1 {
	float: left;
	padding-left: 40px;
	padding-top: 130px;
}
.ethics3 ul.con2 {
	float: left;
	padding-left: 200px;
	padding-top: 130px;
}
.ethics3 ul.con3 {
	float: left;
	padding-left: 22px;
	padding-top: 180px;
}
.ethics3 ul.con4 {
	float: left;
	padding-left: 200px;
	padding-top: 190px;
}
.ethics3 ul.con5 {
	clear: both;
	padding-left: 40px;
	padding-top: 145px;
}
.ethics3 ul.con5 li {
	text-align: left;
	height: 25px;
	background: url(../_Img/Sub/manage/dot.jpg) no-repeat left
		center;
	padding-left: 20px;
}
.ethics3 ul li {
	text-align: center;
}
.ethics3 ul li.stitle {
	font-size: 18px;
	font-weight: bold;
	height: 30px;
}

.ethics4 {
	background: url(../_Img/Sub/manage/02_11.jpg) no-repeat;
	height: 480px;
}
.ethics4 ul.con1 {
	padding-left: 125px;
	padding-top: 26px;
}
.ethics4 ul.con2 {
	padding-left: 125px;
	padding-top: 115px;
}
.ethics4 ul li {
	height: 25px;
	background: url(../_Img/Sub/manage/dot2.jpg) no-repeat
		left center;
	padding-left: 20px;
}
.ethics4 ul p.stitle {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 110px;
	padding-bottom: 65px;
}

.ethics5 {
	background: url(../_Img/Sub/manage/02_12.jpg) no-repeat;
	height: 668px;
}
.ethics5 ul.con1 {
	padding-left: 30px;
	padding-top: 35px;
}
.ethics5 ul.con2 {
	padding-left: 30px;
	padding-top: 98px;
}
.ethics5 ul.con3 {
	padding-left: 30px;
	padding-top: 98px;
}
.ethics5 ul li {
	height: 25px;
	background: url(../_Img/Sub/manage/dot2.jpg) no-repeat
		left center;
	padding-left: 20px;
}
.ethics5 ul p.stitle {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 97px;
	padding-bottom: 65px;
}

.years ul {
	float: left;
	width: 50%;
}
.years ul li {
	position: relative;
	padding-left: 110px;
	padding-bottom: 17px;
}
.years ul li strong {
	font-size: 17px;
	color: #555555;
	font-weight: 600;
	background: url(../_Img/Sub/manage/dot3.jpg) no-repeat
		left center;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 10px;
}
.years ul il p {
	font-weight: 400;
}

.comp07 {
	padding-top: 40px;
}
.comp07 .tit {
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 17px;
}
.comp07 .txtB {
	border-top: 1px solid #e94730;
	padding: 10px 0 5px 0;
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: 40px;
}
.comp07 .txtB p {
	font-weight: 400;
	line-height: 2;
	background: url(../_Img/Sub/manage/dot3.jpg) no-repeat
		left top 12px;
	padding-left: 15px;
	margin-left: 8px;
}
.comp07 .txtB p strong {
	font-weight: 600;
	line-height: 2;
}
.comp07 .txtB p span {
	color: #3d3d3d;
	font-weight: 600;
	line-height: 2;
}

/* edu-wrap */
.course2 {
	border-top: 1px solid #555;
	border-bottom: 1px solid #cbcaca;
	padding-top: 10px;
	height: 180px;
}
.course2 p.c_img2 {
	float: left;
	border: 1px solid #b8b8b8;
	padding: 3px;
	width: 265px;
}
.course2 ul.edu_gap10 {
	margin-top: 15px;
	margin-bottom: 10px;
}
.course2 ul.edu_gap20 {
	margin-top: 30px;
	margin-bottom: 10px;
}
.course2 ul li {
	padding-bottom: 8px;
	margin-left: 20px;
}
.course2 ul.seminar li {
	padding-bottom: 3px;
}
.course2 ul li span.title {
	font-weight: bold;
	color: #e83f2e;
	padding-right: 40px;
	padding-left: 40px;
}
.course2 ul li span.title2 {
	font-weight: bold;
	letter-spacing: 7px;
	color: #e83f2e;
	padding-right: 33px;
	padding-left: 40px;
}
.course2 ul li span.sub {
	font-size: 90%;
}
.course2 ul li span.bold {
	font-weight: bold;
}

.course2-pagenation{
	display:flex;
	justify-content: space-between;
	margin-top:-20px;
}

.course2-pagenation .btn{
	flex:1;
	margin-right:15px;
	height:35px;
	border:1px solid #cdcdcd;
	background-color:#fff;
	border-radius: 4px;
	box-shadow: inset 0 -6px 7px rgba(176,176,176,.15);
	font-size:15px;
	font-weight: 600;
}

.course2-pagenation .btn:last-child{
	margin-right:0;
}

.course2-pagenation .btn.done{
	background-color:#2f6f85;
	box-shadow: inset 0 -6px 7px rgba(4,56,74,.2);
	color:#fff;
	border:none;
}

.course2-pagenation .btn.active{
	background-color:#7aefef;
	box-shadow: inset 0 -6px 7px rgba(47,139,139,.2);
	border:none;
}

p.btn {
	float: right;
	padding-top: 10px;
}
p.btn a {
	margin-left: 5px;
}

/* popup plan-wrap */
#plan {
	width: 500px;
	padding: 23px;
}
.btn_r {
	margin-top: 15px;
	float: left;
	padding-left: 200px;
}

/* guide-wrap */
.tab_menu3 {
	padding-bottom: 42px;
}
.tab_menu3 ul li {
	border: 1px solid #d2d1d1;
	width: 49.7%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	float: left;
}
.tab_menu3 ul li a {
	display: block;
	background: #fff;
	color: #555;
	padding: 8px;
}
.tab_menu3 ul li a:hover {
	background: #f36523;
	color: #fff;
}
.tab_menu3 ul li.on a {
	display: block;
	background: #f36523;
	color: #fff;
}
.tab_menu3 ul li.on a:hover {
	background: #f36523;
	color: #fff;
}

.tab_menu4 {
	padding-bottom: 176px;
}
.tab_menu4 ul li {
	border: 1px solid #d2d1d1;
	width: 19.7%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	float: left;
	height: 65px;
	border-collapse: collapse;
}
.tab_menu4 ul li a {
	display: block;
	background: #fff;
	color: #555;
	padding: 8px;
	height: 49px;
	border-collapse: collapse;
}
.tab_menu4 ul li.down a {
	display: block;
	background: #fff;
	color: #555;
	padding: 20px 8px 8px 8px;
	height: 37px;
}
.tab_menu4 ul li a:hover {
	background: #f36523;
	color: #fff;
}
.tab_menu4 ul li.on a {
	display: block;
	background: #f36523;
	color: #fff;
}
.tab_menu4 ul li.on a:hover {
	background: #f36523;
	color: #fff;
}

.tab_menu5 {
	padding-bottom: 42px;
}
.tab_menu5 ul li {
	border: 1px solid #d2d1d1;
	width: 49.75%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	float: left;
}
.tab_menu5 ul li a {
	display: block;
	background: #fff;
	color: #555;
	padding: 8px;
}
.tab_menu5 ul li a:hover {
	background: #f36523;
	color: #fff;
}
.tab_menu5 ul li.on a {
	display: block;
	background: #f36523;
	color: #fff;
}
.tab_menu5 ul li.on a:hover {
	background: #f36523;
	color: #fff;
}

.rule {
	border-top: 2px solid #535353;
	border-bottom: 1px solid #c9c9c9;
	background-color: #f7f7f7;
	padding: 30px;
}
.rule h4 {
	font-size: 18px;
	font-weight: 800;
	text-decoration: underline;
}
.rule h5 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5px;
}
.rule h6 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
}
.rule h7 {
	font-size: 16px;
	font-weight: bold;
}
.rule p.sfont {
	font-size: 13px;
}
.rule p.t_gap {
	padding-left: 18px;
}

.c_box {
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	width: 354px;
	height: 460px;
	background-color: #f7f7f7;
	padding: 20px;
	float: left;
}
.c_box p {
	padding-bottom: 15px;
}
.c_box ul {
	padding-left: 15px;
}
.c_box li {
	list-style: outside;
	padding-bottom: 10px;
}

.c_box_02 {
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	width: 733px;
	height: 204px;
	background-color: #f7f7f7;
	padding: 5px 20px;
	float: left;
}
.c_box_02 p {
	padding-bottom: 15px;
}
.c_box_02 ul {
	padding-left: 15px;
}
.c_box_02 li {
	list-style: url(../_Img/Sub/ico-nec.png);
	padding-bottom: 10px;
}

.step p {
	float: left;
	width: 146px;
}
.step dl {
	float: right;
	width: 612px;
	padding: 15px;
}
.step dl dt {
	float: left;
	width: 110px;
	font-size: 16px;
	font-weight: bold;
}
.step dl dd {
	float: right;
	width: 490px;
}

.step_02 p {
	float: left;
	width: 146px;
}
.step_02 dl {
	float: right;
	width: 612px;
	padding: 15px;
}
.step_02 dl dt {
	float: left;
	width: 110px;
	font-size: 16px;
	font-weight: bold;
}
.step_02 dl dd {
	float: right;
	width: 614px;
}

.step2 {
	float: right;
}
.step2 p.left {
	float: left;
	width: 146px;
}
.step2 p.right2 {
	float: left;
	width: 590px;
	height: 50px;
	padding: 15px;
}
.step2 p.right3 {
	float: left;
	width: 590px;
	height: 50px;
	padding: 30px 15px 5px 15px;
}

.guide_con ul {
	padding-left: 50px;
}
.guide_con h6 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.guide_con ul li {
	list-style: outside;
}

.guide_con ol {
	padding-left: 30px;
}
.guide_con ol li {
	list-style: none;
	padding-bottom: 10px;
}

.refund_box {
	float: left;
	width: 382px;
	padding-top: 10px;
}
.refund_box ul {
	background-color: #f7f7f7;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	padding: 25px 25px 0 25px;
	height: 280px;
}
.refund_box ul li {
	background: url(../_Img/Sub/guide/03_15.jpg) no-repeat
		left 5px;
	padding-left: 40px;
	padding-bottom: 5px;
}

.word_box {
	border-top: 2px solid #535353;
	border-bottom: 1px solid #c9c9c9;
	background-color: #f7f7f7;
	padding: 30px;
}
.word_box ul li {
	background: url(../_Img/Sub/manage/dot.jpg) no-repeat left
		5px;
	padding-left: 30px;
	padding-bottom: 5px;
}

.word_box2 {
	border-top: 2px solid #535353;
	border-bottom: 1px solid #c9c9c9;
	background-color: #f7f7f7;
	padding: 30px;
}
.word_box2 ul li {
	background: url(../_Img/Sub/guide/03_15.jpg) no-repeat
		left top;
	padding-left: 30px;
	padding-bottom: 10px;
}

.red_text {
	color: #e83f2e;
	font-weight: bold;
}
.bold_text {
	font-weight: bold;
}

h6 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
}

/* mileage-img */
.m_graph {
	weight: 800px;
	height: 85px;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	background: #f7f7f7;
	margin-bottom: 40px;
}
.m_graph dt,
dd {
	float: left;
}
.m_graph dt {
	font-size: 16px;
	font-weight: bold;
	background: url(../_Img/Sub/mileage/icon_mileage.gif)
		no-repeat;
	padding-left: 60px;
	padding-top: 5px;
	height: 56px;
	margin-left: 55px;
	margin-top: 15px;
}
.m_graph dd.visual {
	width: 379px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
.m_graph dd.visual p.stick {
	width: 379px;
	background: url(../_Img/Sub/mileage/mileage_bg.gif)
		no-repeat;
}
.m_graph dd.visual p.stick span {
	width: 80%;
	height: 32px;
	display: block;
	background: url(../_Img/Sub/mileage/mileage_bg2.gif)
		repeat-x;
}
.m_graph dd.txt {
	margin-top: 32px;
	text-align: left;
}
.m_graph dd span.num {
	font-size: 50px;
	color: #e83f2e;
	font-weight: bold;
}
.m_graph dd span.jum {
	font-size: 30px;
	color: #555;
	font-weight: bold;
}

/* test-wrap */
.result {
	width: 600px;
	margin: 0 auto;
}
.result p.score {
	background: url(../_Img/Sub/test/result.gif) no-repeat;
	padding-left: 90px;
	color: #111111;
	font-size: 30px;
	height: 65px;
	padding-top: 25px;
	margin-left: 90px;
}
.result p.txt1 {
	border-top: 2px solid #e83f2e;
	border-bottom: 1px solid #cbcaca;
	padding: 15px 90px;
	font-size: 20px;
	font-weight: bold;
}
.result ul {
	border-bottom: 1px solid #999999;
	padding: 15px 0px;
}
.result ul li {
	padding: 5px 90px;
}
.result ul li span.bold {
	font-weight: bold;
}
.result ul li span.gap_t {
	padding-left: 115px;
}

/* sitemap-wrap */
.sitemap {
	width: 175px;
	height: 420px;
	float: left;
	margin-right: 33px;
}
.sitemap h3 {
	font-size: 20px;
	font-weight: 800px;
	color: #333333;
	border-bottom: 3px solid #e83f2e;
	padding-bottom: 15px;
}
.sitemap ul li {
	border-bottom: 1px solid #dfdfdf;
	font-size: 17px;
	padding: 8px 0px;
}

.sitemap2 {
	width: 175px;
	height: 420px;
	float: right;
}
.sitemap2 h3 {
	font-size: 20px;
	font-weight: 800px;
	color: #333333;
	border-bottom: 3px solid #e83f2e;
	padding-bottom: 15px;
}
.sitemap2 ul li {
	border-bottom: 1px solid #dfdfdf;
	font-size: 17px;
	padding: 8px 0px;
}

/* member */
.login-wrap {
}

.tc-input input[type='text']:focus,
.tc-input input[type='password']:focus {
	border: 1px solid #333;
	color: #333 !important;
}

.join-wrap {
}
.join-wrap .step {
	margin-bottom: 25px;
}
.join-wrap .agree-txt {
	border: 1px solid #dedede;
	height: 170px;
	overflow-y: scroll;
	box-sizing: border-box;
	padding: 20px;
	font-size: 14px;
	color: #555;
	line-height: 155%;
}
.join-wrap .agree-check {
	margin-top: 15px;
	text-align: right;
}

.join-tab {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	font-size: 14px;
	letter-spacing: -1px;
	font-size: 0;
	text-align: left;
}
.join-tab:after {
	background: #ccc;
	width: 100%;
	height: 1px;
	display: block;
	content: '';
	left: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
}
.join-tab li {
	display: inline-block;
	letter-spacing: -0.03em;
	font-size: 14px;
}
.join-tab li a {
	display: block;
	text-align: center;
	padding: 10px 0 10px 0;
	height: 20px;
	transform: all 0.5s ease;
	transition: background 0.3s, border-color 0.3s;
	border-top: 1px solid #ccc;
	border-right: 1px solid #dadada;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.join-tab li.first-row a {
	border-top: 1px solid #ccc;
	padding-top: 13px;
}
.join-tab li.first-row.over a,
.join-tab li.over a,
.join-tab li.over:hover a {
	margin-top: 0;
	background: #113063;
	border-color: #113063;
	color: #113063;
}
.join-tab li:hover a {
	background: #eee;
}
.join-tab li a span {
	display: block;
	color: #333;
	padding: 0 36px;
}
.join-tab li.active a {
	background: #555;
	border: 1px solid #555;
}
.join-tab li.active a span {
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}
.join-tab li.active.first-row:last-child a {
	border-right: 1px solid #113063;
}
.join-tab li:first-child.over a {
	border-left: 0;
}
.join-tab li:first-child a {
	border-left: 1px solid #ccc;
}

.join-table {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid #bababa;
	table-layout: fixed;
	width: 100%;
	clear: both;
	text-align: center;
}
.join-table th,
.join-table td {
	font-size: 14px;
	border: 1px solid #bababa;
	border-right: 0;
	word-wrap: break-word;
}
.join-table th:first-child,
.join-table td:first-child {
	border-left: 0;
}
.join-table thead th {
	background: #e9e9e9 url(../_Img/Sub/th-line.jpg) repeat-x;
	padding: 12px 5px 10px 5px;
	border-top: 0;
	font-weight: 600;
	color: #000;
	border-left: 1px solid #bababa;
}
.join-table thead th.vline {
	border-bottom: 1px solid #bababa;
}
.join-table tbody th {
	vertical-align: top;
	background: #e9e9e9 url(../_Img/Sub/th-line.jpg) repeat-x;
	color: #000;
	text-align: left;
	padding: 12px 10px 10px 15px;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: -0.03em;
}
.join-table tbody td {
	padding: 10px 10px 8px 10px;
	text-align: left;
	font-size: 14px;
	color: #999;
	font-weight: 300;
	border-left: 1px solid #bababa;
}
.join-table th.line,
.join-table td.line {
	border-right: 1px solid #bababa;
}
.join-table th.l,
.join-table td.l,
.join-table td.left {
	padding-left: 10px;
}
.join-table th.r,
.join-table td.r,
.join-table td.right {
	padding-right: 10px;
}

.join-table .tc-input {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.join-table .nec {
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
	background: url(../_Img/Sub/ico-nec.png) no-repeat 0 6px;
}
.join-table .ex {
	font-size: 13px;
	letter-spacing: -0.06em;
	line-height: 120%;
	display: block;
}
.join-table .ctxt {
	display: inline-block;
	vertical-align: top;
	line-height: 32px;
	text-align: center;
	font-size: 13px;
	color: #555;
	padding: 0 1px;
}

.join-table .radio-box {
	margin-right: 10px;
}
.join-table .radio-box.leave {
	display: block;
	margin: 4px 0;
}
.join-table input[type='text'],
.join-table input[type='password'],
.join-table input[type='file'] {
	width: 100%;
	border: 1px solid #dedede;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
	color: #555;
	font-size: 13px;
}

.join-table .cp-btn span,
.join-table .cb-btn span,
.join-table .cg-btn span {
	line-height: 28px;
}

.join-end {
	border: 1px solid #dadada;
	padding: 70px 0;
}
.join-end .txt {
	padding-top: 140px;
	text-align: center;
	height: 30px;
	font-size: 20px;
	color: #111;
	letter-spacing: -0.03em;
	background: url(../_Img/Sub/member/end-ico.png) no-repeat
		center 0;
}

.leave-box {
	position: relative;
	background: #f5f5f5;
	border: 1px solid #dadada;
	padding: 20px;
}
.leave-box .leave-txt {
	border: 1px solid #dadada;
	width: 100%;
	margin-top: 10px;
	padding: 20px;
	font-size: 14px;
	color: #555;
	box-sizing: border-box;
	min-height: 130px;
}
.leave-box .radio-box.leave {
	display: block;
	margin: 4px 0;
}
.leave-box input[type='text'],
.leave-box input[type='password'],
.leave-box input[type='file'] {
	width: 100%;
	border: 1px solid #dedede;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
	color: #555;
	font-size: 13px;
}
.leave-box .ctxt {
	display: inline-block;
	vertical-align: top;
	line-height: 32px;
	text-align: center;
	font-size: 13px;
	color: #555;
	padding: 0 1px;
}
.leave-box .tc-input {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.find-wrap {
	position: relative;
}
.find-wrap .step {
	margin-bottom: 25px;
}
.find-wrap .ov {
	border: 1px solid #dadada;
	position: relative;
	overflow: hidden;
}
.find-wrap .ov:after {
	position: Absolute;
	left: 49.5%;
	width: 1px;
	border-right: 1px dashed #dadada;
	height: 100%;
	display: block;
	content: '';
	top: 0;
}

.find-wrap .ov .fl {
	width: 50%;
	box-sizing: border-box;
	padding: 35px 25px;
}
.find-wrap .ov .fr {
	width: 50%;
	box-sizing: border-box;
	padding: 35px 25px;
	position: relative;
	min-height: 312px;
}
.find-wrap .ov h3 {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	margin-bottom: 5px;
	letter-spacing: -0.03em;
}
.find-wrap .ov .stit {
	font-size: 14px;
	color: #888;
	line-height: 130%;
}
.find-wrap .ov ul {
	margin-top: 20px;
	padding: 20px 10px;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.find-wrap .ov ul.ovst {
	padding: 40px 10px 40px 10px;
}
.find-wrap .ov ul li {
	font-size: 0;
	margin-top: 10px;
	padding-left: 65px;
	position: relative;
}
.find-wrap .ov ul li:first-child {
	margin-top: 0;
}
.find-wrap .ov ul li .btxt {
	position: absolute;
	font-weight: 600;
	left: 0;
	top: 0;
	line-height: 30px;
	font-size: 14px;
	letter-spacing: -0.03em;
	color: #555;
}
.find-wrap .ov ul li.pad {
	padding-right: 70px;
}

.find-wrap .join-logo {
	position: absolute;
	left: 50%;
	top: 50%;
	background: url(../_Img/logo.gif) no-repeat center center;
	margin-left: -76px;
	width: 152px;
	background-size: 152px auto;
	height: 50px;
	margin-top: -25px;
}

.find-wrap .tc-input {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.find-wrap .ctxt {
	display: inline-block;
	vertical-align: top;
	line-height: 32px;
	text-align: center;
	font-size: 13px;
	color: #555;
	box-sizing: border-box;
}
.find-wrap input[type='text'],
.find-wrap input[type='password'],
.find-wrap input[type='file'] {
	width: 100%;
	border: 1px solid #dedede;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
	color: #555;
	font-size: 13px;
}
.find-wrap .cp-btn span,
.find-wrap .cb-btn span,
.find-wrap .cg-btn span {
	line-height: 28px;
}

.find-wrap li .cp-btn,
.find-wrap li .cb-btn,
.find-wrap li .cg-btn {
	position: Absolute;
	right: 0;
	top: 0;
	min-width: 46px;
}

.login-wrap {
	border: 2px solid #e5e5e5;
	padding: 100px 10px 100px 10px;
	position: relative;
}
.login-wrap:before {
	position: Absolute;
	left: 30px;
	top: 30px;
	font-size: 24px;
	font-weight: 600;
	color: #989898;
	display: block;
	content: '로그인';
}
.login-wrap:after {
	background: #f2f2f2;
	width: 98.6%;
	height: 96%;
	display: block;
	content: '';
	position: absolute;
	left: 0.6%;
	top: 2%;
	z-index: -1;
}
.login-wrap input[type='text'],
.login-wrap input[type='password'],
.login-wrap input[type='file'] {
	width: 100%;
	border: 1px solid #dedede;
	height: 22px;
	box-sizing: border-box;
	padding: 0 10px;
	color: #555;
	font-size: 13px;
}
.login-wrap .login-input {
	position: relative;
	width: 350px;
	margin: 0 auto;
}
.login-wrap .login-input ul {
	padding: 20px 110px 10px 10px;
	box-sizing: border-box;
}
.login-wrap .login-input ul li {
	font-family: 'Dotum';
	font-size: 0;
	margin-top: 2px;
	padding-left: 65px;
	position: relative;
}
.login-wrap .login-input ul li:first-child {
	margin-top: 0;
}
.login-wrap .login-input ul li .btxt {
	position: absolute;
	font-weight: 600;
	left: 0;
	top: 0;
	line-height: 24px;
	font-size: 13px;
	letter-spacing: -0.03em;
	color: #555;
}
.login-wrap .login-btn {
	position: Absolute;
	right: 0;
	bottom: 17px;
	width: 95px;
	height: 49px;
	background: url(../_Img/Sub/member/login-btn.jpg)
		no-repeat center center;
}

.login-wrap .login-other {
	text-align: right;
	width: 350px;
	margin: 0 auto;
}
.login-wrap .login-other li {
	display: inline-block;
	vertical-align: top;
}
.login-wrap .login-other .cp-btn {
	border-radius: 0;
	background: #787878;
	border: 1px solid #787878;
	min-width: 95px;
}

/* 마이페이지 */
#mypage-wrap {
	position: relative;
	border: 1px solid #ddd;
	border-top: 2px solid #113063;
}
.mypage-top {
	position: relative;
	background: #f9f9f9;
	padding: 55px 40px 45px 40px;
}
.mypage-top .icon {
	width: 180px;
	height: 180px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -90px;
	right: 30px;
	background: url(../_Img/Sub/member/info-sprite.png)
		no-repeat 0 -180px;
}
.mypage-top p.tit {
	font-size: 22px;
	font-weight: 400;
	color: #113063;
	margin-bottom: 13px;
	letter-spacing: -0.05em;
}
.mypage-top p.txt {
	letter-spacing: -0.03em;
}
.mypage-top p.tit span {
	color: #111;
	font-weight: bold;
}
.mypage-top .btns {
	margin-top: 20px;
}
.mypage-top .btns a {
	margin: 0;
	min-width: 98px;
	height: 30px;
}
.mypage-top .btns a span {
	line-height: 30px;
}
.mypage-top .btns a.cg-btn {
	background: #48525e;
	width: 70px;
	color: #fff;
}
.mypage-top .btns a.cg-btn span {
	color: #fff;
}
.mypage-top .btns a span {
	font-size: 13px;
}
.mypage-list {
	border-top: 1px solid #ddd;
	padding: 32px 36px;
	position: relative;
}
.mypage-list.resv {
	border-top: 0;
}
.mypage-list h4 {
	font-size: 17px;
	letter-spacing: -0.04em;
	font-weight: 600;
	color: #333;
	margin-bottom: 17px;
}
.mypage-list h4 span {
	font-weight: normal;
	font-size: 0.75em;
	color: #555;
	padding-left: 14px;
}
.mypage-list .btn-more {
	position: absolute;
	top: 33px;
	right: 33px;
	border: 1px solid #ccc;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	display: block;
	background: url(../_Img/Sub/more.png) no-repeat center
		center;
	text-indent: -9999px;
}

.tbl-mypage {
	border-top: 2px solid #444;
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	table-layout: fixed;
	clear: both;
	color: #555;
	word-wrap: break-word;
}
.tbl-mypage th {
	background: #f9f9f9;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #cecece;
	color: #555;
	text-align: center;
}
.tbl-mypage th.line,
.tbl-mypage td.line {
	border-right: 1px solid #dadfe4;
} /* 셀병합시 우측 라인 안나올 경우 */
.tbl-mypage th.line2 {
	border-bottom: 1px solid #dadfe4;
} /* th가 두줄일 경우 */
.tbl-mypage thead th {
	border-bottom: 1px solid #bac2ca;
	font-weight: 700;
	line-height: 120%;
	padding: 12px 5px 10px;
}
.tbl-mypage tbody th {
	padding: 18px 5px;
	background: #fff;
	color: #1677d4;
	font-size: 14px;
}
.tbl-mypage th:first-child,
.tbl-mypage td:first-child {
	border-left: 0;
}
.tbl-mypage tbody th.num,
.tbl-mypage .num {
	font-family: 'Open sans';
	font-weight: normal;
	font-size: 14px;
}
.tbl-mypage td {
	background: #fff;
	border-left: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	text-align: center;
	padding: 10px 5px;
	font-size: 14px;
}
.tbl-mypage td .tbl-tit {
	font-weight: 700;
	display: block;
	color: #0354ab;
}
.tbl-mypage tfoot th,
.tbl-mypage tfoot td {
	background: #f9f9f9;
	color: #333;
}
.tbl-mypage th.l,
.tbl-mypage td.l {
	padding-left: 20px;
}
.tbl-mypage th.r,
.tbl-mypage td.r {
	padding-right: 5px;
}
.tbl-mypage .bg th,
.tbl-mypage .bg td {
	background: #f9f9f9;
	font-weight: 700;
}

/* layer-wrap */
.layer-wrap {
	z-index: 9999 !important;
}

.layer-wrap.guide {
	position: fixed;
	font-family: 'Malgun Gothic';
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 999;
	width: 1050px;
	height: 750px;
	box-sizing: border-box;
	background: #000;
	padding: 0 40px 40px;
}

.layer-wrap.guide .is-top {
	text-align: right;
	position: Relative;
	padding-top: 20px;
	height: 50px;
}

.layer-wrap.guide .is-top h2 {
	font-weight: 600;
	font-size: 26px;
	color: #fff;
	line-height: 30px;
	position: absolute;
	left: 0;
	top: 20px;
}

.layer-wrap.guide .is-top .ex {
	font-family: 'Dotum';
	height: 30px;
	text-align: center;
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	font-size: 12px;
	margin-right: 8px;
	color: #fff;
}

.layer-wrap.guide .is-top .close {
	font-family: 'Dotum';
	width: 104px;
	font-size: 13px;
	border-radius: 5px;
	height: 28px;
	line-height: 28px;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #313131;
	color: #fff;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #989898),
		color-stop(0.6, #404040),
		color-stop(0.67, #313131),
		color-stop(1, #313131)
	);
	background: -moz-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: -webkit-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: -o-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: -ms-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#989898', endColorstr='#313131', gradientType=0);
}

.layer-wrap.guide .is-con {
	position: Relative;
	border-radius: 15px;
	background: #fff url(../_Img/Content/guide-bg01.png)
		no-repeat right bottom;
	height: 640px;
	box-sizing: border-box;
	padding: 78px 78px;
}
.layer-wrap.guide .is-con.is-con__quiz {
	background-image: none;
	overflow: auto;
}
.layer-wrap.guide .is-con.is-con__quiz .btn-wrap {
	margin-top: 5em;
}
.layer-wrap.guide .is-con.is-con__quiz h4 {
	font-size: 18px;
	margin-bottom: 1.5em;
	line-height: 1.5em;
	padding-left: 60px;
	position: relative;
}
.layer-wrap.guide .is-con.is-con__quiz h4 span {
	position: absolute;
	left: 0;
	top: 0;
}
.layer-wrap.guide .is-con.is-con__quiz li {
	margin-bottom: 1em;
}
.layer-wrap.guide .is-con.is-con__quiz li label {
	display: flex;
	flex-wrap: wrap;
}
.layer-wrap.guide .is-con.is-con__quiz li label:after {
	content: '';
	display: block;
	clear: both;
}
.layer-wrap.guide .is-con.is-con__quiz li span {
	display: block;
	float: left;
	width: 60px;
	margin-right: 10px;
}
.layer-wrap.guide .is-con.is-con__quiz li p {
	width: calc(100% - 70px);
}
.layer-wrap.guide .is-con h3 {
	height: 59px;
	line-height: 50px;
	margin-bottom: 30px;
	padding-left: 85px;
	letter-spacing: -0.04em;
	font-size: 32px;
	color: #d9272b;
	background: url(../_Img/Content/gudie-h3.png) no-repeat
		left top;
}

.layer-wrap.guide .is-con .txt {
	min-height: 250px;
	color: #171615;
	font-weight: 600;
	line-height: 190%;
	font-size: 22px;
	letter-spacing: 0.02em;
}

.layer-wrap.guide .class-regist {
	height: 44px;
	line-height: 42px;
	font-size: 18px;
}
.layer-wrap.guide .i-img {
	position: absolute;
	left: 150px;
	top: 350px;
	z-index: 1000;
}
.layer-wrap.guide .t-center {
	text-align: center;
	padding-top: 2em;
}

.layer-wrap.pop03 h1 {
	line-height: 1.5em;
	font-size: 64px;
	text-align: center;
}
.layer-wrap.pop03 h1 span {
	color: #0e3be6;
}
.layer-wrap.pop03 .i-imgbox {
	text-align: center;
	margin: 4em 0;
}
/*
 .layer-wrap.movie{position:fixed; display:none; font-family:'Malgun Gothic';left:50%; top:50%;-webkit-transform: translate(-50%, -50%);  -moz-transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%);  -o-transform: translate(-50%, -50%);  transform: translate(-50%, -50%); z-index:999; width:1050px; height:750px;box-sizing:border-box;}
 */
.layer-wrap.movie {
	display: none;
	font-family: 'Malgun Gothic';
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	left: 0 !important;
	top: 0 !important;
}

.layer-wrap.movie .is-top {
	text-align: right;
	position: Relative;
	padding-top: 32px;
	height: auto;
	z-index: 34;
}

.layer-wrap.movie .is-top h2 {
	display: none;
	font-weight: 400;
	font-size: 24px;
	color: #fff;
	line-height: 30px;
	position: absolute;
	left: 0;
	top: 20px;
}

.layer-wrap.movie .is-top .ex {
	font-family: 'Dotum';
	height: 30px;
	text-align: center;
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	font-size: 12px;
	margin-right: 8px;
	color: #fff;
}

.layer-wrap.movie .close {
	width: 43px;
	height: 44px;
	background: url(../_Img/Content/movie-close.png) no-repeat
		center center;
	position: absolute;
	right: 1em;
	top: 1em;
}

.layer-wrap.movie .is-con {
	position: Relative;
	border-radius: 0px;
	height: 100%;
	box-sizing: border-box;
	z-index: 33;
	display: block;
}

.layer-wrap.movie .is-con {
	position: Relative;
	border-radius: 0px;
	height: 100%;
	box-sizing: border-box;
	z-index: 33;
	display: block;
}

.layer-wrap.movie .is-con .movie {
	position: Relative;
	min-height: 100%;
	color: #6f6f6f;
	line-height: 160%;
	font-size: 16px;
	letter-spacing: -0.04em;
	width: 100% !important;
}

.layer-wrap.movie .is-con .movie .sample-txt {
	position: absolute;
	color: #000;
	font-size: 28px;
	line-height: 150%;
	letter-spacing: -0.03em;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.layer-wrap.movie .ctrl {
	text-align: center;
	padding: 15px 15px;
}

.layer-wrap.movie .ctrl .prev {
	text-align: left;
	padding-left: 32px;
	background: #f6f6f6 url(../_Img/Sub/prev-arrow.jpg)
		no-repeat 5px center;
	border: 1px solid #ddd;
	line-height: 32px;
	width: 38px;
	height: 34px;
	color: #111;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
}

.layer-wrap.movie .ctrl .next {
	text-align: right;
	padding-right: 32px;
	background: #f6f6f6 url(../_Img/Sub/next-arrow.jpg)
		no-repeat 42px center;
	border: 1px solid #ddd;
	line-height: 32px;
	width: 38px;
	height: 34px;
	color: #111;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
}

.layer-wrap.movie .ctrl .count {
	margin: 0 20px;
	display: inline-block;
	vertical-align: top;
	color: #111;
	font-weight: 600;
	line-height: 36px;
}

.layer-wrap.movie .ctrl .count span {
	font-weight: 600;
	color: #d9272b;
	padding-right: 3px;
}

.layer-wrap.movie .ctrl .ex {
	font-size: 14px;
	letter-spacing: -0.04em;
	font-weight: 600;
	letter-spacing: -0.04em;
	color: #000;
	margin-top: 5px;
}

.layer-wrap.question {
	position: fixed;
	font-family: 'Malgun Gothic';
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 999;
	width: 1050px;
	height: 750px;
	box-sizing: border-box;
	background: #000;
	padding: 0 40px 40px;
}

.layer-wrap.question .is-top {
	text-align: right;
	position: Relative;
	padding-top: 20px;
	height: 50px;
}

.layer-wrap.question .is-top h2 {
	font-weight: 600;
	font-size: 26px;
	color: #fff;
	line-height: 30px;
	position: absolute;
	left: 0;
	top: 20px;
}

.layer-wrap.question .is-top .ex {
	font-family: 'Dotum';
	height: 30px;
	text-align: center;
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	font-size: 12px;
	margin-right: 8px;
	color: #fff;
}

.layer-wrap.question .is-top .close {
	font-family: 'Dotum';
	width: 104px;
	font-size: 13px;
	border-radius: 5px;
	height: 28px;
	line-height: 28px;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #313131;
	color: #fff;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #989898),
		color-stop(0.6, #404040),
		color-stop(0.67, #313131),
		color-stop(1, #313131)
	);
	background: -moz-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: -webkit-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: -o-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: -ms-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#989898', endColorstr='#313131', gradientType=0);
}

.layer-wrap.question .is-con {
	position: Relative;
	border-radius: 15px;
	overflow: hidden;
	box-sizing: border-box;
}

.layer-wrap.question .is-con .fl {
	float: none;
	position: Absolute;
	left: 0;
	top: 0;
	width: 60%;
	border-radius: 15px;
	background: #fff;
	height: 594px;
	box-sizing: border-box;
	padding: 25px;
}

.layer-wrap.question .is-con .fr {
	float: right;
	width: 36%;
	background: #fff;
	height: 594px;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 25px;
}

.layer-wrap.question .is-con .txt {
	font-family: 'Dotum';
	min-height: 130px;
}

.layer-wrap.question .is-con .txt h3 {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	line-height: 120%;
	margin-bottom: 25px;
}

.layer-wrap.question .is-con .txt p {
	font-size: 14px;
	color: #6f6f6f;
}

.layer-wrap.question .is-con .article {
	font-family: 'Dotum';
	margin-top: 25px;
	min-height: 165px;
}

.layer-wrap.question .is-con .article li {
	margin-top: 10px;
}

.layer-wrap.question .is-con .article li:first-child {
	margin-top: 0;
}

.layer-wrap.question .ctrl {
	border-top: 1px solid #d4d4d4;
	margin-top: 29px;
	text-align: center;
	padding: 29px 0 0 0;
}

.layer-wrap.question .ctrl .prev {
	text-align: left;
	margin-right: 2px;
	padding-left: 32px;
	background: #f6f6f6 url(../_Img/Sub/prev-arrow.jpg)
		no-repeat 5px center;
	border: 1px solid #ddd;
	line-height: 32px;
	width: 38px;
	height: 34px;
	color: #111;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
}

.layer-wrap.question .ctrl .next {
	text-align: right;
	margin-left: 2px;
	padding-right: 32px;
	background: #f6f6f6 url(../_Img/Sub/next-arrow.jpg)
		no-repeat 42px center;
	border: 1px solid #ddd;
	line-height: 32px;
	width: 38px;
	height: 34px;
	color: #111;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
}

.layer-wrap.question .is-con .fr .ovs {
	border: 1px solid #a0a0a0;
	height: 520px;
}

.layer-wrap.question .is-con .fl .ovs {
	border: 1px solid #a0a0a0;
	height: 420px;
	padding: 40px;
	box-sizing: border-box;
}

.layer-wrap.question .tbl-type03 {
	border-left: none;
	border-right: none;
}

.layer-wrap.question .tbl-type03 td {
	padding: 0;
	border-color: #a0a0a0;
}

.layer-wrap.question .tbl-type03 th {
	background: #bfbfbf;
	font-size: 13px;
	font-weight: 400;
	border-color: #a0a0a0;
}

.layer-wrap.question .tbl-type03 tr th:first-child {
	border-left: 0;
}

.layer-wrap.question .tbl-type03 th td:first-child {
	border-left: 0;
}

.layer-wrap.question .tbl-type03 a {
	background: #cce198;
	font-size: 13px;
	display: block;
	height: 38px;
	line-height: 38px;
	color: #050000;
}

.layer-wrap.question .tbl-type03 a.line {
	text-decoration: underline;
	background: none;
}

.layer-wrap.question .class-submit {
	line-height: 42px;
	height: 44px;
	width: 180px;
	font-size: 18px;
}

.layer-wrap.csend {
	position: fixed;
	display: none;
	font-family: 'Malgun Gothic';
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 999;
	width: 1050px;
	height: 750px;
	box-sizing: border-box;
}

.layer-wrap.csend .is-top {
	text-align: right;
	position: Relative;
	padding-top: 20px;
	height: 50px;
}

.layer-wrap.csend .is-top h2 {
	font-weight: 600;
	font-size: 26px;
	color: #fff;
	line-height: 30px;
	position: absolute;
	left: 0;
	top: 20px;
}

.layer-wrap.csend .is-top .ex {
	font-family: 'Dotum';
	height: 30px;
	text-align: center;
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	font-size: 12px;
	margin-right: 8px;
	color: #fff;
}

.layer-wrap.csend .is-top .close {
	font-family: 'Dotum';
	width: 104px;
	font-size: 13px;
	border-radius: 5px;
	height: 28px;
	line-height: 28px;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #313131;
	color: #fff;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #989898),
		color-stop(0.6, #404040),
		color-stop(0.67, #313131),
		color-stop(1, #313131)
	);
	background: -moz-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: -webkit-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: -o-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: -ms-linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	background: linear-gradient(
		top,
		#989898 0%,
		#404040 60%,
		#313131 67%,
		#313131 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#989898', endColorstr='#313131', gradientType=0);
}

.layer-wrap.csend .is-con {
	position: relative;
	background: #fff url(../_Img/Content/guide-bg01.png)
		no-repeat right bottom;
	height: 680px;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 78px 78px;
}

.layer-wrap.csend .btn-wrap {
	padding-right: 40px;
}

.layer-wrap.csend .class-restart,
.layer-wrap .class-close {
	font-family: 'Dotum';
	font-size: 18px;
	margin: 0 1px;
	display: inline-block;
	border: 1px solid #d9272b;
	border-radius: 5px;
	color: #fff;
	height: 44px;
	line-height: 44px;
	font-weight: 600;
	color: #fff;
	text-align: Center;
	min-width: 186px;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #eb8c8e),
		color-stop(0.28, #d9272a)
	);
	background: -moz-linear-gradient(
		top,
		#eb8c8e 0%,
		#d9272a 28%
	);
	background: -webkit-linear-gradient(
		top,
		#eb8c8e 0%,
		#d9272a 28%
	);
	background: -o-linear-gradient(
		top,
		#eb8c8e 0%,
		#d9272a 28%
	);
	background: -ms-linear-gradient(
		top,
		#eb8c8e 0%,
		#d9272a 28%
	);
	background: linear-gradient(top, #eb8c8e 0%, #d9272a 28%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb8c8e', endColorstr='#d9272a', gradientType=0);
}

.layer-wrap.csend.failed .is-con .btxt {
	font-family: 'Malgun Gothic';
	line-height: 140%;
	margin-bottom: 60px;
	text-align: center;
	letter-spacing: -0.04em;
	font-size: 40px;
	font-weight: 600;
	color: #171615;
}

.layer-wrap.csend.failed .is-con .btxt span {
	color: #e60e13;
}

.layer-wrap.csend.failed .is-con .stxt {
	min-height: 302px;
	background: url(../_Img/Content/end-ico.png) no-repeat
		44px 75px;
	font-weight: 600;
	padding: 20px 0 20px 244px;
	font-size: 21px;
	line-height: 190%;
	color: #171615;
}

.layer-wrap.csend.success .is-con .btxt {
	font-family: 'Malgun Gothic';
	line-height: 120%;
	margin-bottom: 10px;
	text-align: center;
	letter-spacing: -0.04em;
	font-size: 70px;
	font-weight: 600;
	color: #171615;
}

.layer-wrap.csend.success .is-con .btxt span {
	color: #0e3be6;
}

.layer-wrap.csend.success .is-con .stxt {
	font-family: 'Malgun Gothic';
	line-height: 120%;
	text-align: center;
	background: url(../_Img/Content/end-ico.png) no-repeat
		center 160px;
	padding-bottom: 240px;
	box-sizing: border-box;
	height: 364px;
	letter-spacing: -0.04em;
	font-size: 70px;
	font-weight: 600;
	color: #171615;
}

.layer-wrap.print {
	width: 580px;
	font-family: 'Malgun Gothic';
	padding: 10px 0;
}

.layer-wrap.print .is-top {
	max-width: 546px;
	margin: 0 auto;
	text-align: right;
	position: Relative;
	padding-top: 0px;
	text-align: right;
	padding-bottom: 5px;
}

.layer-wrap.print .print-btn {
	display: inline-block;
	border: 1px solid #d9272b;
	border-radius: 5px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	font-weight: 600;
	color: #fff;
	text-align: Center;
	min-width: 122px;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #eb8c8e),
		color-stop(0.28, #d9272a)
	);
	background: -moz-linear-gradient(
		top,
		#eb8c8e 0%,
		#d9272a 28%
	);
	background: -webkit-linear-gradient(
		top,
		#eb8c8e 0%,
		#d9272a 28%
	);
	background: -o-linear-gradient(
		top,
		#eb8c8e 0%,
		#d9272a 28%
	);
	background: -ms-linear-gradient(
		top,
		#eb8c8e 0%,
		#d9272a 28%
	);
	background: linear-gradient(top, #eb8c8e 0%, #d9272a 28%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb8c8e', endColorstr='#d9272a', gradientType=0);
}

.layer-wrap.print .print-btn span {
	display: inline-block;
	vertical-align: top;
	padding-right: 40px;
	background: url(../_Img/Content/print-ico.png) no-repeat
		right center;
	background-size: 28px auto;
}

.pop02 .is-con h2 {
	text-align: center;
	font-size: 50px;
	line-height: 1em;
	margin-bottom: 1em;
}
.pop02 .is-con h2 span {
	color: #e60e13;
}

.total {
	display: table;
	width: 100%;
}
.total .tit {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background: #e9e9e9;
	color: #000;
	font-size: 15px;
	border-right: 1px solid #000;
	width: 217px;
	font-weight: 600;
}
.total .num {
	display: table-cell;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	color: #000;
	font-size: 45px;
	font-weight: 800;
	letter-spacing: 1px;
}

.table-bottom.text-right {
	font-size: 14px;
	text-align: right;
	margin-top: 15px;
}

.tbl-type01.mileage tr td:nth-last-child(2) {
	background: #fcf7f3;
}

.pr-0 {
	padding-right: 0 !important;
}
