@charset "utf-8";

@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css);
html,body {height:100%; font-family:'나눔고딕','Nanum Gothic', '맑은 고딕', 'Malgun Gothic', Dotum; }
html{ overflow: hidden;}
body {overflow:auto; }

#doc {position:relative;width:100%;overflow:hidden; }
body {overflow-y:visible;overflow-x:hidden;}
body.no-scr {overflow-y:hidden;}

.div-wrap {position:relative;width:100%;text-align:left;;margin:0 auto 0 auto;}
.div-cont {position:relative;text-align:left;margin:0 auto 0 auto;}
.div-cont:after {clear:both;content:"";display:block;}

.body-slide-wr{position:relative;width:100%;height:100%;transition:margin 0.3s ease;}
.body-slider-ovclick, .container-bg{position:fixed;z-index:2006;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.45);cursor:pointer }
.layer-slider-ovclick,.header-slider-ovclick{position:fixed;z-index:4006;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.75);cursor:pointer }

/* z-index */
.header-wrap-abs {z-index:7000;}
#header-wrap, #header {z-index:2009;position:relative;}
#container-wrap{z-index:2007; position:relative;}
#footer-wrap{z-index:2009;position:relative; }
#subtop-wrap {z-index:2006;}
#container{z-index:1001}


/* /////////////////////////////// 상단 ///////////////////////////////////*/

#header-wrap {position: fixed; left: 0; top: 0; right: 0; height: 93px; background: #fff; text-align: center;}
#header{position:relative;min-height:93px; width:1050px;}
#header:after{width:2000px; height:1px; background:#aaaaaa; position:absolute; left:50%;margin-left:-1000px; display:block; content:""; z-index:-1px;  bottom:0;}

#logo {position:absolute;left:2px;top:40px;z-index:2100;text-align:left; width:216px; height:45px; z-index:2500; opacity:1;-webkit-transition: all 0.5s ease-out;-moz-transition: all 0.5s ease-out;-o-transition: all 0.5s ease-out;	transition: all 0.5s ease-out;}
#logo a{display:block;height:40px;background:url(../_Img/logo.gif) no-repeat left center;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
/* #logo img{display:inline-block;vertical-align:top; width:100px} */



/* ----------------------------
	상단
----------------------------*/
.util_logout{position:absolute;right:0;top:10px;}
.util_logout a{font-size:12px; padding-left:10px; }
.util_logout a.line{background:url(../_Img/util_line.gif) no-repeat -5px center;}
.util_logout ul li{float:left; padding:0 2px; }
.util_logout ul li input[type="text"],input[type="password"]{border:1px solid #ccc; height:25px; font-size:13px; box-sizing:border-box;color:#666; width:100%; padding:0 5px;}
.util_logout ul li button {color:#555;font-size:12px; border:1px solid #c4c4c4;background:#f2f2f2; border-radius:2px; padding:0 5px}

.util_login{position:absolute;right:0;top:10px;}
.util_login a{padding-left:10px; font-size:12px; }
.util_login a.line{background:url(../_Img/util_line.gif) no-repeat -5px center;}
.util_login ul li{float:left; padding:0 2px;font-size:13px;  }
.util_login ul li span.name{ font-weight:bold; color:#111;}
.util_login ul li button {color:#555;font-size:12px; border:1px solid #c4c4c4;background:#f2f2f2; border-radius:2px; padding:0 5px}

#mainNavi-wrap {height:45px;overflow:hidden;position:absolute;left:0;top:35px;width:100%;display:block;z-index:6001;z-index:99}
#mainNavi-wrap .tmn-tit {display:none;}
#mainNavi-wrap .side-banner {display:none;}
#mainNavi-wrap .side-banner2 {display:none;}
#mainNav {position:relative;}

.topmenu {display:block;position:relative;text-align:right; padding-right:0px;}
.topmenu:after {display:block;content:"";clear:both;}
.topmenu .tgl-btn {display:none;}
.topmenu a, .topmenu span {white-space:nowrap;color:#666;}
.topmenu .mn_a1 {height:23px;line-height:1.35em;display:block; text-align:center;padding-left:30px; padding-top:15px;padding-bottom:7px;position:relative;overflow:hidden}
.topmenu .mn_l1 {display:inline-block;; position:relative; }
.topmenu .mn_l1.isTopHide {display:none;}
.topmenu .mn_s1 {color:#111;font-size:17px;font-weight:600;cursor:pointer;text-align:center;white-space:nowrap;text-transform:uppercase;display:block;text-overflow:ellipsis;letter-spacing:0}
.topmenu li.mn_l1:first-child:after{display:none}
.topmenu li.mn_l1.is-over .mn_s1{color:#e83f2e; font-weight:600;}

.topmenu #tm01 .depth2{left:auto; right:50px; text-align:center;}
.topmenu #tm02 .depth2{left:auto; right:35px; text-align:center;}
.topmenu #tm03 .depth2{left:auto; right:-40px; text-align:center;}
.topmenu #tm04 .depth2{left:auto; right:-155px; text-align:center;}
.topmenu #tm05 .depth2{left:auto; right:-195px; text-align:center;}
.topmenu #tm06 .depth2{left:auto; right:-405px; text-align:center;}
.topmenu #tm07 .depth2{left:auto; right:-495px; text-align:center;}

.topmenu .depth2-wrap {position:fixed;left:0px; right:0px; top:92px; line-height:120%; display:none; visibility:hidden; }
.topmenu .depth2 {position:absolute; height:auto;padding:8px 15px 8px 15px;overflow:hidden;background:#e83f2e;  display:inline-block; font-size:0; width:100%;  }
.topmenu .depth2 li {white-space:nowrap;letter-spacing:-1px;display:inline-block; vertical-align:top;;width:auto; }
.topmenu .depth2 .mn_l2 {text-align:left; position:Relative;}
.topmenu .depth2 .mn_l2:after{background:#fff; position:Absolute; left:-1px; top:50%;margin-top:-7px; height:14px; display:block; content:""; width:1px;}
.topmenu .depth2 .mn_a2:hover:before, .topmenu .depth2 .mn_l2.over .mn_a2:before{top:-3px;}


.topmenu .depth2 .mn_l2:first-child:after{display:none}
.topmenu .depth2 .mn_a2 {cursor:pointer;padding:0 25px;display:block; position:relative;}
.topmenu .depth2 .mn_a2 span {display:inline-block; padding:5px 0; position:relative;font-weight:400;white-space:nowrap; line-height:110%; font-size:16px;letter-spacing:-0.01em;color:#fff;}
.topmenu .depth2 .over .mn_a2 ,.topmenu .depth2 .mn_a2:hover,.topmenu .depth2 .mn_a2:focus, .topmenu .depth2 .mn_a2:active {font-weight:600;}
.topmenu .depth2 .is-over .mn_a2 span,topmenu .depth2 .over .mn_a2 span {color:#fff; }
.subg{left:0px; top:92px; width:100%; height:42px; background-color:#e83f2e; z-index:100; }



#mainNavi-wrap .ovbar {position:absolute;height:14px;top:67px;;overflow:hidden; height:12px;display:none;}
#mainNavi-wrap .ovbar:after {position:absolute;bottom:0;left:50%;margin-left:-25%;background:#000; height:3px;content:"";display:block;z-index:200; width:50%}

.mn-bar{/* background:#e83f2e; */display:none; position:absolute; left:50%; margin-left:-1000px;  width:2000px; top:120px; }

.mn-allbtn{ width:34px; height:30px; z-index:6004;position:Absolute ;right:0px ;top:43px;background:url(../_Img/Layout/bt-mnall.png) no-repeat center center;}


.quick{position:fixed; right:0; top:92px; z-index:5000;}


/* ----------------------------
	컨텐츠
----------------------------*/
.mcontainer #container-wrap{}
.mcontainer #contents{margin:93px 0 0; position:relative; width:100%;}

.scontainer #contents{min-height:500px; /*padding-bottom:100px;*/padding:0 0 70px 0; float:right; width:800px; /* width:808px */}
.scontainer{max-width:1050px; margin:0 auto; margin-top:93px;}
.scontainer #contents.div-cont{max-width:1050px; position:relative; }
.scontainer .content-ov{overflow:hidden; padding-top:25px; position:relative;}


/* svisual-wrap */
#svisual-wrap{height:173px; position:relative; z-index:5;}

#svisual-wrap .vistxt{ position:absolute; left:10px;;top:50px;height:100%;color:#fff; width:367px; text-align:left; line-height:220px;; height:auto; font-size:30px; letter-spacing:-0.03em;}
#svisual-wrap .vistxt .btxt{ display:block;font-size:32px; color:#e83f2e; letter-spacing:-0.03em; line-height:40px;}
#svisual-wrap .vistxt .btxt span{font-size:40px; font-weight:600;  }
#svisual-wrap .vistxt .stxt{ display:block;font-size:17px; font-weight:400; margin-top:8px; color:#444; line-height:130%; text-align:left;}
#svisual-wrap .visimg{position:absolute; left:50%; top:0; width:2000px; height:100%; z-index:-1; margin-left:-1000px; text-align:center; }
#svisual-wrap .visimg.vis01{background:url(../_Img/Sub/svisual-01.jpg) no-repeat center center; background-color:#f7f1e1;}
#svisual-wrap .visimg.vis02{background:url(../_Img/Sub/svisual-02.jpg) no-repeat center center; background-color:#f7f1e1;}
#svisual-wrap .visimg.vis03{background:url(../_Img/Sub/svisual-03.jpg) no-repeat center center; background-color:#f7f1e1;}
#svisual-wrap .visimg.vis04{background:url(../_Img/Sub/svisual-04.jpg) no-repeat center center; background-color:#f7f1e1;}
#svisual-wrap .visimg.vis05{background:url(../_Img/Sub/svisual-05.jpg) no-repeat center center; background-color:#f7f1e1;}
#svisual-wrap .visimg.vis06{background:url(../_Img/Sub/svisual-06.jpg) no-repeat center center; background-color:#f7f1e1;}
#svisual-wrap .visimg.vis07{background:url(../_Img/Sub/svisual-07.jpg) no-repeat center center; background-color:#f7f1e1;}


/* subNavi-wrap */
#subNavi-wrap{ float:left; width:214px; position:relative; z-index:9;padding-bottom:50px;}
#subNavi-wrap #subNavi{border:1px solid #ccc; }

#subNavi-wrap .lm-tit{ padding:15px 25px}
#subNavi-wrap .lm-tit .btxt{display:block;font-size:12px; color:#777;  text-transform:uppercase}
#subNavi-wrap .lm-tit .stxt{display:block;font-size:23px; color:#111; font-weight:600; letter-spacing:-0.05em; line-height:130%;}

.leftmenu ul{font-size:0; text-align:left; padding:0 20px 45px 20px;position:Relative;}
.leftmenu ul:before{width:width:214px; left:50%; margin-left:-107px; height:1px; background:#ccc; display:block; content:"";z-index:-1;position:absolute;  bottom:0;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.leftmenu li{ display:block; vertical-align:top; position:relative;border-bottom:1px solid #e9e9e9;}
.leftmenu li a.lm_a2{ font-size:16px;letter-spacing:-0.5px; color:#222; line-height:44px; display:block; text-align:left;; position:relative; padding-left:5px;}
.leftmenu li.over a.lm_a2:after{width:214px; left:50%; margin-left:-107px; height:100%; background:#e83f2e; display:block; content:"";z-index:-1;position:absolute;  bottom:0;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.leftmenu li.over a.lm_a2{font-weight:600; color:#fff;}

.leftmenu li a.lm_a3{ font-size:16px;letter-spacing:-0.5px; color:#222; line-height:28px; display:block; text-align:left;; position:relative; padding-left:5px; padding-top:10px; padding-bottom:10px;}
.leftmenu li.over a.lm_a3:after{width:214px; left:50%; margin-left:-107px; height:100%; background:#e83f2e; display:block; content:"";z-index:-1;position:absolute;  bottom:0;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.leftmenu li.over a.lm_a3{font-weight:600; color:#fff;}

/* subHelp */
.subHelp{margin-top:15px; box-sizing:border-box; padding:18px; border:1px solid #ccc;position:relative;}
.subHelp h3{margin-bottom:8px; background:url(../_Img/Sub/help.gif) no-repeat left top; width:153px; height:57px;}
.subHelp .ctxt{font-size:14px; line-height:150%; color:#666;letter-spacing:-0.05em;}



/* cont-top */
.cont-top{margin-bottom:45px; position:Relative;}
.cont-top .tit{padding-top:10px;color:#111; font-size:24px; letter-spacing:-0.04em; border-bottom:1px solid #dadada; padding-bottom:15px; line-height:140%;}
.cont-top .path{/* font-family:'Dotum';  */font-size:0; position:Absolute; right:0; top:20px;}
.cont-top .path li{letter-spacing:-0.02em;color:#333; position:relative; font-size:13px;display:inline-block; vertical-align:top; margin-left:22px;}
.cont-top .path li:before{ width:14px; height:20px; background:url(../_Img/Sub/path-arrow.jpg) no-repeat center center ;display:block; content:""; position:absolute; left:-20px; top:50%;margin-top:-10px; }
.cont-top .path li:first-child:before{display:none;}
.cont-top .path li:last-child{font-weight:600; color:#111 ; letter-spacing:-0.03em;}




/* ----------------------------
	하단
----------------------------*/
#footer-wrap {display:block; margin:0 auto 0 auto;}
#footer-wrap:after{background:#3f3b3a; width:2000px; position:absolute; height:100%;left:50%; margin-left:-1000px; top:0; z-index:-1; display:block; content:"";}
#footer {padding:26px 0; position:relative; width:1050px;}

#f-link{ height:41px; position:relative;}
#f-link:after{background:#a2a2a2; width:2000px; position:absolute; height:1px;left:50%; margin-left:-1000px; bottom:0; display:block; content:"";}
#f-link ul{font-size:0;text-align:center;}
#f-link li{display:inline-block; vertical-align:top; position:relative;font-weight:400;}
#f-link li:before{width:1px ;height:14px; position:Absolute; left:-1px; top:50%;margin-top:-7px; display:block; content:"";background:#fff;}
#f-link li:first-child:before{display:none;}
#f-link li a{font-size:15px; letter-spacing:-0.03em; line-height:40px; color:#fff; display:block; padding:0 40px;}

#f-logo{width:142px; height:29px; position:Absolute; left:0px; top:28px;background:url(../_Img/f-logo.gif) no-repeat center center;}
#f-info{color:#a4a3a3; font-size:15px; padding-left:167px; line-height:150%;}
#f-btn { position:Absolute; left:912px; top:28px; }
#f-btn a{display:block; width:138px; height:40px; background:url(../_Img/btn_remote.gif) no-repeat center center; }
